{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div style="text-align: center;">
            {% if submitted %}
                <h2>Your post was submitted successfully!</h2>
            {% else %}
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <small>The name must be lower case</small>
                <br/>
                <br/>
                <input type="submit" value="Add" class="btn btn-primary">
                </form>
            {% endif %}
        </div>
    {% else %}
         <div style="text-align: center;">
            <h2>You are not logged!</h2>
        </div>
    {% endif %}


{% endblock content %}