{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
            {% if user.is_authenticated and user == post.author%}
                <p><a href="{% url 'update_post' post.pk %}">Edit &rarr;</a> <a href="{% url 'delete_post' post.pk %}">Delete &rarr;</a></p>
            {% endif %}
          <p class="card-text ">{{ object.content | safe }}</p>
          {% if user.is_authenticated%}
              {% if liked %}
                  <form action="{% url 'like_post' post.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" name="post_id" value="{{ post.id }}" class = "btn btn-danger btn-sm">{{ total_likes }} UnLike</button>
                  </form>
              {% else %}
                  <form action="{% url 'like_post' post.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" name="post_id" value="{{ post.id }}" class = "btn btn-primary btn-sm">{{ total_likes }} Like</button>
                  </form>
              {% endif %}
          {% else %}
              <small><a href="{% url 'login' %}">Login</a> to Like the post</small>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="Image">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
        <p class ="small text-muted">
            {% if post.author.profile.instagram %}
                <a href="{{ post.author.profile.instagram }}"> Instagram </a> |
            {% endif %}
            {% if post.author.profile.facebook %}
                <a href="{{ post.author.profile.facebook}}"> Facebook </a> |
            {% endif %}
            {% if post.author.profile.twitter %}
                <a href="{{ post.author.profile.twitter }}"> Twitter </a>
            {% endif %}
        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>




{% endblock content %}
